.Predections-Container {
    width: 98%;
    max-width: 1800px;
    margin: 0 auto;

    .cityTop {
        color: #FFF;
        margin-bottom: 20px;
        text-align: center;
        font-size: 2.2em;
    }

    .Predections-group {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;

        .Predections-box {
            display: flex;
            flex-direction: column;
            min-width: 250px;
            gap: 10px;
            background-image: url('https://i.pinimg.com/736x/d2/0a/72/d20a726673f8d4cf81ea09926dba53c9.jpg');
            border-radius: 20px;
            padding: 10px;
            color: #FFF;
            border: 5px solid #FFF;
            background-color: #242534;
            align-items: center;
            justify-content: space-between;
            transition: .6s all;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }

            h2 {
                border: 3px solid #FFF;
                padding: 10px 20px;
                width: 150px;
                text-align: center;
                border-radius: 20px;
            }

            img {
                height: 130px;
            }

            article {
                display: flex;
                gap: 12px;

                #min {
                    color: rgb(36 124 149);
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .Predections-Container {
        width: 100%;

        .Predections-group {
            gap: 0;
            flex-direction: column;

            .Predections-box {
                flex-direction: initial;
                justify-content: space-between;
                gap: 0;
                border-radius: 0;
                border-left: 0;
                border-right: 0;
                padding: 2px 20px;

                h2 {
                    order: 1;
                }

                article {
                    order: 2;
                }

                img {
                    order: 3;
                }

                #description {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .Predections-Container {
        .cityTop {
            font-size: 1.5em;
        }

        .Predections-group {

            .Predections-box {
                justify-content: space-around;
                padding: 2px 5px;

                h2 {
                    width: 130px;
                    padding: 10px 5px;
                    font-size: 1em;
                }

                img {
                    height: 90px;
                }
            }
        }
    }
}

@media (max-width: 370px) {
    .Predections-Container {
        .Predections-group {
            .Predections-box {
                display: grid;
                grid-template-areas:
                    'Day img'
                    'temperature img'
                ;

                h2 {
                    grid-area: Day;
                }

                article {
                    display: flex;
                    justify-content: center;
                    grid-area: temperature;
                }

                img {

                    grid-area: img;
                }
            }
        }
    }
}